<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>

        function sendButtonObj() {
            var buttonobj = document.getElementsByName("fir_value");

            click_value = 1;
            console.log(click_value);

            var form = document.createElement('form');
            var input = document.createElement('input');

            input.setAttribute("type","hidden");
            input.setAttribute("name","fir_name");
            input.setAttribute("value","1");

            form.appendChild(input);

            document.body.appendChild(form);

            form.method = "POST";
            form.action = "http://localhost:9090/show_info";

            form.submit();
        }

    </script>

</head>
<body>
 typing this
 <input type="button" onclick="sendButtonObj();" name="fir_value" value="click">


</body>
</html>